/* global font */
body {
    margin: 0;
    padding: 0;
	font-family: "Arial";
}

fieldset {
    border: 0;
}

.profile-avatar {
    height: 100px;
    width: 100px;
}

.profile-avatar-icon {
    height: 16px;
    width: 16px;
}

.countdown_timer {
    transform-origin: 0 0;
    transform: scale(.45);
    -ms-transform: scale(.45);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(.45);
    -o-transform-origin: 0 0;
    -o-transform: scale(.45);
    -moz-transform-origin: 0 0;
    -moz-transform: scale(.45);
}

.searching {
    padding: 5px 10px 7px;
    background: url(../css/images/loading.gif) left bottom repeat-x;
}

.userInfo {
    font-size: small;
    position: absolute;
    right: 0px;
    padding-top: 200px;
    padding: 5px;
}

.wins {
    width: 16px;
    height: 16px;
    background: url(../css/images/ui-icons_cd0a0a_256x240.png);
    /*background-position: -32px -128px;*/
}

.losses {
    width: 16px;
    height: 16px;
    background: url(../css/images/ui-icons_cd0a0a_256x240.png);
    /*background-position: -32px -128px;*/
}

/*
Themeroller styles
 */

.ui-default-state {
    padding: .5em 1em;
    cursor: pointer;
}
#themes_label {padding-left: 20px; font-size: 1.2em; background: url(../css/images/icon_gallery.gif) no-repeat left 50%;}
/*
    Styles for navigation bar
 */

#navBar{
    list-style:none;
    margin:0;
    font-weight: bold;
    padding:0;
    text-align:center;
}
#navBar li{
    display:inline;
}
#navBar a{
    font-weight: bold;
    text-decoration: none;
    display:inline-block;
    padding:10px;
    text-transform: uppercase;
}

#navBar a:hover, #navBar a:hover{
    background-color: #FFFFFF;
}

 #navDiv {
    border-radius: 8px;
}

/*
    login modal
 */
.full-width {
    width: 100%;
}

#reset-password {
    visibility: false;
}
/*
.paypal {
    background: url(../css/images/paypal_logo3.gif) no-repeat;
    cursor: pointer;
    border: none !important;
    width: 88px;
    height: 33px;
}*/

.templ {
    display: none;
}

/* Hide close button on dialog buttons */
.no-close .ui-dialog-titlebar-close {display: none }

.right {
    right: 0;
    position: absolute;
}

.errors {
    border-spacing: 0px 0px !important;
}

.field-validation-error, .input-validation-error {
    color: red;
	font-style: italic
}
input.checkbox { border: none }
form  { display: table; border-spacing: 2px 2px; width: 90%;   }
p     { display: table-row ;  }
label { display: table-cell ; }
input { display: table-cell ; }
select { display: table-cell; }
