/* global font */
body {
    margin: 0;
    padding: 0;
	font-family: "Arial";
}

/* notification font size */
.notice {
	font-size: 30px;
}

.countdown_timer {
    transform-origin: 0 0;
    transform: scale(.45);
    -ms-transform: scale(.45);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(.45);
    -o-transform-origin: 0 0;
    -o-transform: scale(.45);
    -moz-transform-origin: 0 0;
    -moz-transform: scale(.45);
}

.searching {
    padding: 5px 10px 7px;
    background: url(../css/images/loading.gif) left bottom repeat-x;
}

.userInfo {
    font-size: small;
    position: absolute;
    right: 0px;
    padding-top: 200px;
    padding: 5px;
}

.wins {
    width: 16px;
    height: 16px;
    background: url(../css/images/ui-icons_cd0a0a_256x240.png); 
    /*background-position: -32px -128px;*/
}

.losses {
    width: 16px;
    height: 16px;
    background: url(../css/images/ui-icons_cd0a0a_256x240.png); 
    /*background-position: -32px -128px;*/
}

/*
    Styles for navigation bar
 */
 .contact {
    left: 0px;
    width: 350px;
    background: url(../css/images/debate.png) 0 0;
    background-repeat: no-repeat;
 }

#navBar{
    list-style:none;
    margin:0;
    font-weight: bold;
    padding:0;
    text-align:center;
}
#navBar li{
    display:inline;
}
#navBar a{
    font-weight: bold;
    text-decoration: none;
    display:inline-block;
    padding:10px;
    color: #4C3000;
    background-color: #FFDC6B;
    text-transform: uppercase;
}

#navBar a:hover, #navBar a:hover{
    background-color: #FFFFFF;
}

 #navDiv {
    background-color: #FFDC6B;
    border-radius: 8px;
}
/*

attempt 2
 #navDiv {
    width: 700px;
    height: 35px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #FFDC6B;
    border-radius: 8px;
}

#navDiv ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#navDiv li {
    display: inline;
    padding: 20px;
}

#navDiv a{
    text-decoration: none;
    color: #4C3000;
    background-color: #FFDC6B;
    text-transform: uppercase;
}
#navBar a:hover{
    background-color: #FFDD57 !important;
}*/
 /*
 
    attempt 1
  #navDiv {
    width: 600px;
    display: inline-block;
    white-space: nowrap;
    margin: auto;
}
#navbar {
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    list-style-type: none !important;
}

li a:link, li a:visited {
    display: block;
    width: 140px;
    font-weight: bold;
    color: #4C3000;
    background-color: #FFDC6B;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover, li a:active {
    background-color: #FFDD57;
}*/
/*form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
*/